ui-cropper{width:100%;display:block}ui-cropper.fixed-height{height:100%;position:relative;overflow:hidden}ui-cropper.fixed-height canvas{display:block;position:absolute;top:50%;left:50%}ui-cropper.full-width{text-align:center}ui-cropper.full-width canvas{display:inline}ui-cropper canvas{outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0)}ui-cropper .loading{width:100%;font-size:16px;font-weight:700;display:-webkit-box;display:-ms-flexbox;display:flex;display:-webkit-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-justify-content:center;color:#fff;background-color:rgba(0,0,0,.75)}ui-cropper .loading .fixed-height{height:100%;position:absolute}

.cropArea {
    background: #E4E4E4;
    width: 500px;
    height: 450px;
    position: fixed;
    z-index: 999;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

button.dismiss {
    padding-right: 5px;
}

.dismiss.close {
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    font-weight: 700;
}

.dismiss.close:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.hidden {
    display: none;
}

.camera-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 1px;
    right: 30px;
    height: 100%;
}

.camera-btn:hover {
    color: black;
}

.nav-cart-item .nav-cart-img img {
    width: 70px;
}

.list-child {
    display: none;
    padding-left: 18px;
}

.show {
    display: block;
}

.main-child {
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}

.brands-outer {
    padding-left: 10px;
}

li.selected {
    background: #44424c;
    color: white;
}

ul.brands {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.favorite-brand {
    border: 1px solid #eee;
    padding: 10px;
    position: relative;
}

.favorite-brand .close {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    font-weight: normal;
    background: red;
    color: white;
    border-radius: 0;
    padding: 1px 2px 3px;
}

.product-details {
    position: relative;
}
p.wish-added-success {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: purple;
    width: 100%;
    color: white;
}

.favorite {
    margin-bottom: 10px;
}

li.brand {
    cursor: pointer;
    padding-left: 10px;
}

.product-description-wrap h1 {
    text-transform: capitalize;
}

.main-child .has-children a {
    font-weight: bold;
}

.main-child .has-children {
}

.cat-child-title + i.fa {
    font-size: 11px;
    /* vertical-align: -2px; */
    line-height: 10px;
    padding: 0 10px;
    cursor: pointer;
}

.cat-child-title + i.fa:hover {
    color: red;
}

.cat-title + ul, .list-child {
    border-left: 1px solid #aaa;
    border-bottom-left-radius: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

@media (max-width: 991px) {
    .cropArea {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(0%);
    }

    .camera-btn {
        top: 0px;
        right: 35px;
        height: 100%;
    }

}
