<!-- Breadcrumbs -->
<div class="container" ng-if="!ctrl.isSearch">
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home">Home</a>
    </li>
    <li ng-if="ctrl.category.self.position !== 0">
      <a ui-sref="productsBySlug({slug:ctrl.category.parentTree.children[0].slug, page:1, limit: ctrl.products.limit})">{{ctrl.category.parentTree.children[0].name}}</a>
    </li>
    <li class="active">
      {{ctrl.category.self.name}}
    </li>
  </ol> <!-- end breadcrumbs -->
</div>

<div class="container" ng-if="ctrl.isSearch">
  <ol class="breadcrumb">
    <li>
      <a ui-sref="home">Home</a>
    </li>
    <li class="active">
      Searched by image
    </li>
  </ol> <!-- end breadcrumbs -->
</div>

<img-crop image="ctrl.image" show="show"></img-crop>

<!-- Catalogue -->
<section class="section-wrap pt-70 pb-40 catalogue">
  <div class="container relative">
    <div class="row">

      <div class="col-md-9 catalogue-col right mb-50">

        <!-- Banner -->
        <div class="banner-wrap relative">
          <img src="img/banner.jpg" alt="">
          <div class="hero-holder text-center right-align">
            <div class="hero-lines mb-0">
              <h1 class="hero-heading white" ng-if="!ctrl.isSearch">{{ctrl.category.self.name}} Collection</h1>
              <h1 class="hero-heading white" ng-if="ctrl.isSearch">Search results</h1>
              <h4 class="hero-subheading white uppercase">HOT AND FRESH TRENDS OF THIS YEAR</h4>
            </div>
          </div>
        </div>

        <div class="shop-filter">
          <p class="result-count">Showing: {{ctrl.products.page*ctrl.products.limit-ctrl.products.limit+1}}-{{ctrl.products.page*ctrl.products.limit}} of {{ctrl.products.total}} results</p>

          <form class="ecommerce-ordering">
            <select>
              <option value="default-sorting">Default Sorting</option>
              <option value="price-low-to-high">Price: high to low</option>
              <option value="price-high-to-low">Price: low to high</option>
              <option value="by-popularity">By Popularity</option>
              <option value="date">By Newness</option>
              <option value="rating">By Rating</option>
            </select>
          </form>
        </div>

        <div class="shop-catalogue grid-view left">

          <div class="row row-10 items-grid">
            <div class="col-md-4 col-xs-6" ng-repeat="product in ctrl.products.items">
              <div class="product-item">
                <div class="product-img">
                  <a ui-sref="productDetails({slug:product.slug})">
                    <img src="img/shop/shop_item_1.jpg" alt="">
                    <img src="img/shop/shop_item_1_back.jpg" alt="" class="back-img">
                  </a>
                  <div class="product-label">
                    <!-- <span class="sale">sale</span> -->
                  </div>
                  <div class="product-actions">
                    <a ng-click="ctrl.cropImage('img/shop/shop_item_1.jpg')" class="product-add-to-compare" data-toggle="tooltip" data-placement="bottom" title="Search by Image">
                      <i class="fa fa-camera"></i>
                    </a>
                    <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="Add to wishlist">
                      <i class="fa fa-heart"></i>
                    </a>
                  </div>
                  <a href="#" class="product-quickview">Quick View</a>
                </div>
                <div class="product-details">
                  <h3>
                    <a class="product-title" ui-sref="productDetails({slug:product.slug})">{{product.name}}</a>
                  </h3>
                  <span class="price">
                    <ins>
                      <span class="ammount"
                            ng-repeat="(var, val) in product.variants">
                        <i ng-if="$index===0">
                          {{val.price.current/1000 | currency: val.price.currency+" "}}
                        </i>
                      </span>
                    </ins>
                  </span>
                </div>
              </div>
            </div>

          </div> <!-- end row -->
        </div> <!-- end grid mode -->

        <div class="clear"></div>

        <!-- Pagination -->
        <div class="pagination-wrap" ng-if="!ctrl.isSearch">
          <p class="result-count">Showing: {{ctrl.products.page*ctrl.products.limit-ctrl.products.limit+1}}-{{ctrl.products.page*ctrl.products.limit}} of {{ctrl.products.total}} results</p>
          <nav class="pagination right clear">
            <a ui-sref="productsBySlug({slug: ctrl.slug, page: 1, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page > 1"><i class="fa fa-angle-double-left"></i></a>
            <a ui-sref="productsBySlug({slug: ctrl.slug, page: ctrl.products.page-1, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page > 1"><i class="fa fa-angle-left"></i></a>
            <span class="page-numbers current">{{ctrl.products.page}}</span>
            <a ui-sref="productsBySlug({slug: ctrl.slug, page: ctrl.products.page+1, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page < ctrl.products.pages"><i class="fa fa-angle-right"></i></a>
            <a ui-sref="productsBySlug({slug: ctrl.slug, page: ctrl.products.pages, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page < ctrl.products.pages"><i class="fa fa-angle-double-right"></i></a>
          </nav>
        </div>

        <div class="pagination-wrap" ng-if="ctrl.isSearch">
          <p class="result-count">Showing: {{ctrl.products.page*ctrl.products.limit-ctrl.products.limit+1}}-{{ctrl.products.page*ctrl.products.limit}} of {{ctrl.products.total}} results</p>
          <nav class="pagination right clear">
            <a ui-sref="productsByImage({imageId: ctrl.imageId, page: 1, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page > 1"><i class="fa fa-angle-double-left"></i></a>
            <a ui-sref="productsByImage({imageId: ctrl.imageId, page: ctrl.products.page-1, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page > 1"><i class="fa fa-angle-left"></i></a>
            <span class="page-numbers current">{{ctrl.products.page}}</span>
            <a ui-sref="productsByImage({imageId: ctrl.imageId, page: ctrl.products.page+1, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page < ctrl.products.pages"><i class="fa fa-angle-right"></i></a>
            <a ui-sref="productsByImage({imageId: ctrl.imageId, page: ctrl.products.pages, limit: ctrl.products.limit})"
               ng-if="ctrl.products.page < ctrl.products.pages"><i class="fa fa-angle-double-right"></i></a>
          </nav>
        </div>

      </div> <!-- end col -->

      <!-- Sidebar -->
      <aside class="col-md-3 sidebar left-sidebar" ng-controller="SidebarController as $ctrl">

        <!-- Categories -->
        <div class="widget categories">
          <h3 class="widget-title uppercase">Categories</h3>
          <ul class="list-no-dividers">
            <li ng-repeat="category in $ctrl.categories">
              <a ui-sref="productsBySlug({slug: category.slug, page: 1, limit: ctrl.products.limit})">{{category.name}}</a>
              <ul>
                <li ng-repeat="cat in category.children">
                  <a ui-sref="productsBySlug({slug: cat.slug, page: 1, limit: ctrl.products.limit})">{{cat.name}}</a>
                  <ul>
                    <li ng-repeat="c in cat.children">
                      <a ui-sref="productsBySlug({slug: c.slug, page: 1, limit: ctrl.products.limit})">{{c.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- <li class="active-cat"> -->
            <!--   <a href="#">Men</a> -->
            <!-- </li> -->
          </ul>
        </div>

        <!-- Select size -->
        <!-- <div class="widget categories"> -->
        <!--   <h3 class="widget-title uppercase">Select size</h3> -->
        <!--   <ul class="list-no-dividers"> -->
        <!--     <li> -->
        <!--       <a href="#">Large</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">Medium</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">Small</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">X-Large</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">X-Small</a> -->
        <!--     </li> -->
        <!--   </ul> -->
        <!-- </div> -->

        <!-- Select color -->
        <!-- <div class="widget categories"> -->
        <!--   <h3 class="widget-title uppercase">Select color</h3> -->
        <!--   <ul class="list-no-dividers"> -->
        <!--     <li> -->
        <!--       <a href="#">White</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">Grey</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">Black</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">Pink</a> -->
        <!--     </li> -->
        <!--     <li> -->
        <!--       <a href="#">Green</a> -->
        <!--     </li> -->
        <!--   </ul> -->
        <!-- </div> -->

        <!-- <\!-- Filter by Price -\-> -->
        <!-- <div class="widget filter-by-price clearfix"> -->
        <!--   <h3 class="widget-title uppercase">Filter by Price</h3> -->
          
        <!--   <div id="slider-range"></div> -->
        <!--   <p> -->
        <!--     <label for="amount">Price:</label> -->
        <!--     <input type="text" id="amount" readonly style="border:0;"> -->
        <!--     <a href="#" class="btn btn-sm btn-dark">Filter</a> -->
        <!--   </p> -->
        <!-- </div> -->
        
        <!-- Bestsellers -->
        <!-- <div class="widget bestsellers"> -->
        <!--   <div class="products-widget"> -->
        <!--     <h3 class="widget-title uppercase">Bestsellers</h3> -->
        <!--     <ul class="product-list-widget"> -->
        <!--       <li class="clearfix"> -->
        <!--         <a href="shop-single-product.html"> -->
        <!--           <img src="img/shop/shop_item_9.jpg" alt=""> -->
        <!--           <span class="product-title">Sleeveless dress</span> -->
        <!--         </a> -->
        <!--         <span class="price"> -->
        <!--           <ins> -->
        <!--             <span class="ammount">$120.00</span> -->
        <!--           </ins> -->
        <!--         </span> -->
        <!--       </li> -->
        <!--       <li class="clearfix"> -->
        <!--         <a href="shop-single-product.html"> -->
        <!--           <img src="img/shop/shop_item_10.jpg" alt=""> -->
        <!--           <span class="product-title">Violet Party Dress</span> -->
        <!--         </a> -->
        <!--         <span class="price"> -->
        <!--           <ins> -->
        <!--             <span class="ammount">$179.00</span> -->
        <!--           </ins> -->
        <!--         </span> -->
        <!--       </li>                -->
        <!--     </ul> -->
        <!--   </div> -->
        <!-- </div> -->

        <!-- <\!-- Tags -\-> -->
        <!-- <div class="widget tags clearfix"> -->
        <!--   <h3 class="widget-title uppercase">Tags</h3> -->
        <!--   <a href="#">Multi-purpose</a> -->
        <!--   <a href="#">Creative</a> -->
        <!--   <a href="#">Elegant</a> -->
        <!--   <a href="#">Clean</a> -->
        <!--   <a href="#">Modern</a> -->
        <!--   <a href="#">Responsive</a> -->
        <!--   <a href="#">E-commerce</a> -->
        <!--   <a href="#">WordPress</a> -->
        <!--   <a href="#">Woocommerce</a> -->
        <!--   <a href="#">Store</a> -->
        <!--   <a href="#">Business</a> -->
        <!-- </div> -->

      </aside> <!-- end sidebar -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end catalogue -->    
