<!-- Page Title -->
<section class="page-title text-center">
  <div class="container relative clearfix">
    <div class="title-holder">
      <div class="title-text">
        <h1 class="uppercase">Checkout</h1>
      </div>
    </div>
  </div>
</section> <!-- end page title -->

<!-- Checkout -->
<section class="section-wrap checkout pt-0 pb-50">
  <div class="container relative">
    <div class="row">

      <div class="ecommerce col-xs-12">

        <!-- <div class="row mb-30"> -->
        <!--   <div class="col-md-8"> -->
        <!--     <p class="ecommerce-info"> -->
        <!--       Returning Customer?  -->
        <!--       <a href="#" class="showlogin">Click here to login</a> -->
        <!--     </p> -->
        <!--   </div> -->
        <!-- </div> -->

        <form name="ctrl.checkoutForm" class="checkout ecommerce-checkout row">

          <div class="col-md-8" id="customer_details">
            <div id="billing_form">
              <h2 class="heading uppercase mb-30">billing address</h2>

              <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_first_name_field">
                <label for="billing_first_name">First Name
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="billing_first_name" id="billing_first_name" ng-model="billing.firstName" required>
              </p>

              <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_last_name_field">
                <label for="billing_last_name">Last Name
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="billing_last_name" id="billing_last_name" ng-model="billing.lastName" required>
              </p>

              <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field" id="billing_address_1_field">
                <label for="billing_address_1">Street Address
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="street_address" id="street_address" ng-model="billing.street" required>
              </p>

              <p class="form-row form-row-wide address-field validate-required" id="billing_city_field" data-o_class="form-row form-row-wide address-field validate-required">
                <label for="billing_city">Town / City
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="billing_city" id="billing_city" ng-model="billing.city" required>
              </p>

              <p class="form-row form-row-wide address-field validate-required" id="billing_state_field" data-o_class="form-row form-row-wide address-field validate-required">
                <label for="billing_city">State / Province
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="billing_state" id="billing_state" ng-model="billing.provinceName" required>
              </p>

              <p class="form-row form-row-wide address-field update_totals_on_change validate-required ecommerce-validated" id="billing_country_field">
                <label for="billing_country">Country
                  <abbr class="required" title="required">*</abbr>
                </label>
                <select name="billing_country" id="billing_country" class="country_to_state country_select" title="Country *" ng-model="billing.countryCode" required>
                  <option value>Select a country…</option>
                  <option value="CN">China</option>
                  <option value="US">United States</option>
                </select>
              </p>
              
              <p class="form-row form-row-last address-field validate-required validate-postcode ecommerce-invalid ecommerce-invalid-required-field" id="billing_postcode_field" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                <label for="billing_postcode">Postcode
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="billing_postcode" id="billing_postcode" ng-model="billing.postcode" required>
              </p>

              <div class="clear"></div>

            </div>

            <div class="clear"></div>

            <div>
              <div class="ecommerce-shipping-fields">
                <input type="checkbox" id="ship-to-different-address-checkbox" class="input-checkbox" name="ship_to_different_address" value="1" ng-model="shippingDifferent">
                <label for="ship-to-different-address-checkbox" class="checkbox">Ship to a different address</label>
              </div>
            </div>

            <div id="shipping_form" ng-if="shippingDifferent">
              <h2 class="heading uppercase mb-30">shipping address</h2>

              <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field" id="shipping_first_name_field">
                <label for="shipping_first_name">First Name
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="shipping_first_name" id="shipping_first_name" ng-model="shipping.firstName" required>
              </p>

              <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field" id="shipping_last_name_field">
                <label for="shipping_last_name">Last Name
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="shipping_last_name" id="shipping_last_name" ng-model="shipping.lastName" required>
              </p>

              <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field" id="shipping_address_1_field">
                <label for="shipping_address_1">Street Address
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="street_address" id="street_address" ng-model="shipping.street" required>
              </p>

              <p class="form-row form-row-wide address-field validate-required" id="shipping_city_field" data-o_class="form-row form-row-wide address-field validate-required">
                <label for="shipping_city">Town / City
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="shipping_city" id="shipping_city" ng-model="shipping.city" required>
              </p>

              <p class="form-row form-row-wide address-field validate-required" id="shipping_state_field" data-o_class="form-row form-row-wide address-field validate-required">
                <label for="shipping_city">State / Province
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="shipping_state" id="shipping_state" ng-model="shipping.provinceName" required>
              </p>

              <p class="form-row form-row-wide address-field update_totals_on_change validate-required ecommerce-validated" id="shipping_country_field">
                <label for="shipping_country">Country
                  <abbr class="required" title="required">*</abbr>
                </label>
                <select name="shipping_country" id="shipping_country" class="country_to_state country_select" title="Country *" ng-model="shipping.countryCode" required>
                  <option value>Select a country…</option>
                  <option value="CN">China</option>
                  <option value="US">United States</option>
                </select>
              </p>
              
              <p class="form-row form-row-last address-field validate-required validate-postcode ecommerce-invalid ecommerce-invalid-required-field" id="shipping_postcode_field" data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                <label for="shipping_postcode">Postcode
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" class="input-text" placeholder value name="shipping_postcode" id="shipping_postcode" ng-model="shipping.postcode" required>
              </p>

              <div class="clear"></div>

            </div>

            <div class="clear"></div>

            <div class="form-row">
              <div class="alert alert-success" ng-if="msg">
                {{msg}}
              </div>
              <div class="alert alert-danger" ng-if="error">
                {{error}}
              </div>
              <input type="button" class="btn btn-lg" id="set_address" value="Set Address" ng-click="ctrl.updateCheckoutState()" ng-disabled="ctrl.checkoutForm.$invalid">
            </div>

          </div> <!-- end col -->


          <div class="col-md-4">
            <div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
              <h2 class="heading uppercase mb-30">Your Order</h2>
              <table class="table shop_table ecommerce-checkout-review-order-table">
                <tbody>
                  <tr ng-repeat="item in ctrl.checkout.items">
                    <th>{{item.product.name}}<span class="count"> x {{item.quantity}}</span></th>
                    <td>
                      <span class="amount">{{item.total/100 | currency: ctrl.checkout.currency+' '}}</span>
                    </td>
                  </tr>
                  <tr class="cart-subtotal">
                    <th>Cart Subtotal</th>
                    <td>
                      <span class="amount">{{ctrl.checkout.totals.items/100 | currency: ctrl.checkout.currency+' '}}</span>
                    </td>
                  </tr>
                  <tr class="shipping">
                    <th>Shipping</th>
                    <td>
                      <span>{{ctrl.checkout.totals.shipping/100 | currency: ctrl.checkout.currency+' '}}</span>
                    </td>
                  </tr>
                  <tr class="order-total">
                    <th><strong>Order Total</strong></th>
                    <td>
                      <strong><span class="amount">{{ctrl.checkout.totals.total/100 | currency: ctrl.checkout.currency+' '}}</span></strong>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div id="payment" class="ecommerce-checkout-payment">
                <h2 class="heading uppercase mb-30">payment method</h2>
                <ul class="payment_methods methods">

                  <li class="payment_method_bacs" ng-repeat="(method, val) in ctrl.payments">
                    <input id="{{val.code}}" type="radio" class="input-radio" ng-value="val.code" ng-model="$parent.payment" name="payment_method" ng-required="true">
                    <label for="{{val.code}}">{{val.name}}</label>
                    <div class="payment_box payment_method_bacs">
                      <p>{{val.description}}</p>
                    </div>
                  </li>

                </ul>
                <div class="form-row place-order">
                  <input type="button" ng-click="ctrl.placeOrder()" name="ecommerce_checkout_place_order" class="btn btn-lg" id="place_order" value="Place order" ng-disabled="ctrl.checkoutForm.$invalid">
                </div>
              </div>
            </div>
          </div> <!-- end order review -->
        </form>

      </div> <!-- end ecommerce -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</section> <!-- end checkout -->
